@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
    /* --mainColor: #2c303d;
    --secondaryColor: #121516; */

    --mainColor: #121516;
    --secondaryColor: #2c303d;
    --borderColor: #757fa4;
}


* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

body {
    color: #eef0ff;
    margin: 0px;
    background-color: var(--mainColor);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    padding: 5px 0;
}

nav a img {
    width: 48px;
    height: auto;
}

nav a:link {
    text-decoration: none;
    color: #eef0ff;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #80868b;
}

#logo {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    margin-top: 0.3vw;
    margin-bottom: 0.25vw;
}

.link-wrapper {
    display: flex;
    gap: 10px;
}

.content-wrapper {
    margin-inline: auto;
    max-width: 1200px;
    text-align: center;

}

.content-wrapper > * {
    border-radius: 2px;
    margin-inline: auto;
    border-style: solid;
    border-width: 1px;
    border-color: var(--borderColor);
    background-color: var(--secondaryColor);
}

#rules-card {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 700;
    padding: 2%;
}

.content-wrapper table, td {
    color: #eef0ff;
}

.content-wrapper #test {
    border-bottom: 1px solid grey;
}

.content-wrapper table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.content-wrapper td {
    margin: 5%;
}

.content-wrapper th {
    padding-top: 1%;
    padding-bottom: 1%;
}

.content-wrapper td {
    padding-top: 1%;
    padding-bottom: 1%;
}

.ranking {
    width: 5%;
}

.name {
    width: 20%;
}

.country {
    width: 8%;
}

.height {
    width: 15%;
}

.subs {
    width: 10%;
}

.content-wrapper label {
    display: block;
}

.content-wrapper button {
    background-color: #303134;
    border: solid;
    border-width: 1px;
    border-color: #5f6368;
    color: #e8eaed;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .content-wrapper {
        margin: auto;
        width: 90vw;
        text-align: center;
    }

    nav a img {
        width: 30px;
    }

    .link-wrapper {
        gap: 5px;
    }

    #logo {
        font-size: 15px;
    }


    * {
        font-size:12px;
    }

}