@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

body {
    background-color: #121516;
    color: #eef0ff;
}

nav {
    margin-top: 0.8vw;
    margin-inline: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a img {
    width: 48px;
    height: auto;
}

nav a:link {
    text-decoration: none;
    color: #eef0ff;
}

nav a:visited {
    text-decoration: none;
    color: #008080;
}

nav a:hover {
    text-decoration: none;
    color: #80868b;
}

h1 {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    margin-top: 0.3vw;
    margin-bottom: 0.25vw;
}

/* .link-wrapper {
    width: 20%;
} */

.leaderboard-wrapper {
    margin: auto;
    width: 55vw;
    text-align: center;
}

.leaderboard-wrapper p, table {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #757fa4;
    background-color: #2c303d;
}

.leaderboard-wrapper p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 700;
    padding: 2%;
}

.leaderboard-wrapper table, td {
    text-shadow: -1px -1px 0 #28292a, 1px -1px 0 #28292a, -1px 1px 0 #28292a, 1px 1px 0 #28292a;
    color: #eef0ff;
}

.leaderboard-wrapper #test {
    border-bottom: 1px solid grey;
}

.leaderboard-wrapper table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.leaderboard-wrapper td {
    margin: 5%;
}

.leaderboard-wrapper th {
    padding-top: 1%;
    padding-bottom: 1%;
}

.leaderboard-wrapper td {
    padding-top: 1%;
    padding-bottom: 1%;
}

.ranking {
    width: 5%;
}

.name {
    width: 20%;
}

.country {
    width: 8%;
}

.height {
    width: 15%;
}

.subs {
    width: 10%;
}

.leaderboard-wrapper label {
    display: block;
}

.leaderboard-wrapper button {
    background-color: #303134;
    border: solid;
    border-width: 1px;
    border-color: #5f6368;
    color: #e8eaed;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .leaderboard-wrapper {
        margin: auto;
        width: 90vw;
        text-align: center;
    }

    nav a img {
        width: 24px;
    }
}